@tailwind utilities;

.promo {
	@apply
		flex
		mb-[64px]
		bg-light-gray;
}

.promo-wrapper {
	@apply
		box-border
		w-full
		max-w-[1140px]
		max-h-[765px]
		min-h-[365px]
		flex
		ml-auto
		mr-auto;

	&::before {
		float: left;
		padding-top: 56.25%;
		content: "";
	}

	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

.promo__example {
	@apply
		hidden
		bg-center
		bg-contain
		bg-no-repeat;
}

.promo__brand {
	@apply
		w-full
		flex
		justify-center
		items-center;

	.promo__logo {
		@apply
			flex
			items-center
			gap-[16px]
			flex-nowrap;

		.vert-line {
			@apply
				w-[12px]
				h-[61px]
				bg-losos;
		}
		.name {
			@apply
				flex
				flex-col
				items-start
				gap-[6px]
				flex-nowrap
				whitespace-nowrap;
		}
	}
}

.brand-upper {
	@apply
		font-['Lato-900']
		text-[38px]
		leading-[1]
		uppercase;
}
.brand-lower {
	@apply
		font-['Lato-700']
		text-[20px]
		leading-[1]
		uppercase;
}
.brand-accent {
	@apply
		text-losos;
}

@layer utilities {
	.promo__example {
		&_sm {
			@apply
				basis-[50%]
				block;
		}
	}
	.promo__brand {
		&_sm {
			flex-basis: 50%;
		}
		&_lg {
			@apply
				pl-[63px]
				justify-start;
		}
	}

	.promo__brand .promo__logo .vert-line {
		&_md {
			height: 72px;
		}
		&_lg {
			height: 92px;
		}
	}

	.brand-upper {
		&_md {
			font-size: 44px;
		}
		&_lg {
			font-size: 48px;
		}
	}
	.brand-lower {
		&_md {
			font-size: 24px;
		}
		&_lg {
			font-size: 32px;
		}
	}
}