@tailwind utilities;

.not-found-page {
	@apply
		w-full
		h-auto
		mt-[75px]
		text-center
		flex
		flex-col
		justify-center;

	// Subtract header and footer heights
	min-height: calc(100vh - 75px - 148px);

	&__title {
		font-size: 24px;
		font-family: "Lato-700", sans-serif;
	}

	&__err {
		@apply
			text-losos;

		font-size: 20px;
		font-family: "Lato-700", sans-serif;
	}
}

@layer utilities {
	.not-found-page {
		&_md {
			// Subtract header and footer heights
			min-height: calc(100vh - 75px - 80px);
		}
	}

	.not-found-page__title {
		&_md {
			font-size: 36px;
		}
	}

	.not-found-page__err {
		&_md {
			font-size: 30px;
		}
	}
}