@tailwind utilities;

.cart__content {
  @apply
		mb-[96px]
		max-w-[1140px]
		px-[9px]
		gap-[48px]
		flex
		flex-col;
}

.cart__items-and-manage {
  @apply
		w-[100%]
		gap-[30px]
		flex
		flex-col;
}

.cart__items {
  @apply
		flex
		flex-col
		gap-[32px]
		items-center;
}

.cart__manage {
  @apply
		px-[8px]
		w-full
		flex
		flex-row
		gap-[10px]
		flex-nowrap
		justify-center;

  &-btn {
    @apply
			w-full
			px-[17px]
			py-[8px]
			border-[1px]
			border-[#A4A4A4]
			border-solid
			font-["Lato-400"]
			text-[12px]
			text-[#575757]
			whitespace-nowrap;
  }
}

@layer utilities {
  .cart__content {
    &_md {
			margin-bottom: 128px;
			padding-left: auto;
			padding-right: auto;
			gap: 64px;
    }

    &_lg {
      @apply
				justify-between
				mx-auto
				px-[32px]
				flex-row;
    }
  }

  .cart__items-and-manage {
    &_sm {
			gap: 62px;
    }

    &_lg {
			gap: 72px;
      flex-basis: 55%;
    }
  }

  .cart__items-and-manage {
    &_lg {
      flex-basis: 55%;
    }
  }

  .cart__items {
    &_sm {
			margin-bottom: 62px;
      gap: 40px;
    }
  }

  .cart__manage {
    &_sm {
      @apply
				mb-[48px]
				px-[0]
				max-w-[518px]
				gap-[48px]
				mx-auto;
    }

    &-btn {
      &_sm {
        @apply
					px-[38px]
					py-[17px]
					font-["Lato-300"]
					text-[14px]
					uppercase;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .cart__manage-btn:hover {
    background-color: #ECECEC;
  }
}
