@tailwind utilities;

.featured-wrapper {
	@apply
		w-full;

	margin-bottom: 96px;
}

.featured__title {
	@apply
		ml-auto
		mb-[64px]
		mr-auto
		text-center;

	&_main {
		@apply
			font-['Lato-400']
			mb-[8px]
			text-[30px]
			leading-[1]
			text-black;
	}

	&_sub {
		@apply
			font-['Lato-400']
			text-[14px]
			leading-[1]
			text-gray;
	}
}

.featured-items {
	@apply
		ml-auto
		mr-auto
		mb-[40px]
		w-full
		max-w-[1140px]
		px-[8px]
		gap-[16px]
		flex
		justify-center
		flex-row
		flex-wrap;
}

.featured-item {
	@apply
		flex
		max-w-[360px]
		bg-pale-gray
		flex-col;

	&__img {
		@apply
			w-full
			box-border
			max-h-[420px]
			bg-center
			bg-cover
			bg-no-repeat;

		&::before {
			float: left;
			padding-top: 117%;
			content: "";
		}

		&::after {
			display: block;
			content: "";
			clear: both;
		}

		&_hovered {
			@apply
				ease-in-out
				duration-300
				opacity-0
				w-full
				h-full
				bg-[#3A3838]
				relative;
		}
	}

	&__to-cart-btn {
		@apply
			absolute
			top-[50%]
			left-[50%]
			translate-x-[-50%]
			translate-y-[-50%]
			border-[1px]
			border-solid
			border-white
			px-[13px]
			py-[10px]
			text-white
			block;
	}

	&__info {
		@apply
			mt-[25px]
			px-[16px]
			pt-[25px]
			pb-[20px]
			text-left;
	}

	&__title {
		@apply
			font-["Lato-400"]
			text-[13px]
			mb-[13px]
			text-deep-black;
	}

	&__descr {
		@apply
			font-["Lato-300"]
			text-[14px]
			mb-[18px]
			text-dark-gray;
	}

	&__price {
		@apply
			font-["Lato-400"]
			text-[16px]
			text-losos;
	}
}

.featured__show-more-btn {
	@apply
		ml-auto
		mr-auto
		text-pink
		px-[38px]
		py-[14px]
		border-[1px]
		border-solid
		border-[red]
		box-border
		ease-in-out
		duration-300
		block;

	@apply
		hover:bg-white
		hover:text-pink;
}

@layer utilities {
	.featured-wrapper_md {
		margin-bottom: 65px;
	}
	.featured-wrapper_lg {
		margin-bottom: 96px;
	}

	.featured-items_md {
		@apply
			px-0;

		gap: 30px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.featured__show-more-btn {
		@apply
			hover:bg-pink
			hover:text-white;
	}
	.featured-item__img:hover {
		.featured-item__img_hovered {
			opacity: 0.86;
		}
	}
}