@tailwind utilities;

.subscribe {
	@apply
		relative
		pt-[55px]
		pb-[110px]
		px-[20px];

	max-height: 550px;

	&::before {
		float: left;
		padding-top: 112%;
		content: "";
	}

	&::after {
		display: block;
		content: "";
		clear: both;
	}

	&-bg {
		@apply
			absolute
			top-0
			left-0
			w-full
			h-full
			bg-cover
			bg-center
			opacity-[.5]
			bg-no-repeat;
	}
}

.subscribe__quote-and-form-wrapper {
	@apply
		w-full
		absolute
		top-[50%]
		left-[50%]
		px-[20px]
		gap-[60px]
		flex
		flex-col;

	transform: translate(-50%, -50%);
}

.subscribe__quote {
	@apply
		w-full;

	&-pfp {
		@apply
			rounded-full
			w-[92px]
			h-[92px]
			bg-cover
			bg-center
			bg-no-repeat
			mb-[30px]
			ml-auto
			mr-auto;
	}

	&-text {
		@apply
			ml-auto
			mr-auto
			text-[19px]
			text-black
			max-w-[343px]
			text-center;

		&_italic {
			@apply
				italic;
		}
	}
}

.subscribe__form {
	@apply
		w-full;

	&-title {
		@apply
			text-black
			mb-[22px]
			text-center;

		&_main {
			@apply
				font-["Lato-700"]
				text-[24px]
				block;
		}

		&_sub {
			@apply
				font-["Lato-400"]
				text-[14px]
				block;
		}
	}

	&-input {
		@apply
			w-full
			max-w-[341px]
			h-[47px]
			pl-[25px]
			ml-auto
			mr-auto
			flex
			flex-nowrap
			items-center
			bg-[#E1E1E1]
			rounded-full
			box-border;

		&-wrapper {
			@apply
				w-full;

			flex: 1 1 70%;

			input {
				@apply
					pr-[8px]
					bg-[#E1E1E1]
					font-["Lato-400"]
					text-[14px]
					w-full;

				&::placeholder {
					@apply
						opacity-[.67]
						text-black;
				}

				&:focus {
					@apply
						outline-none;
				}
			}
		}

		&-btn {
			@apply
				box-border
				font-["Lato-400"]
				text-[14px]
				text-white
				w-full
				h-full
				rounded-r-full
				border-[1px]
				border-solid
				border-transparent
				bg-losos;

			flex: 1 1 35%;
			-webkit-tap-highlight-color: transparent;
			transition: all 0.250s;
		}
	}
}

@layer utilities {
	.subscribe_md {
		max-height: 693px;
	}

	.subscribe_lg {
		max-height: 448px;
	}

	.subscribe__quote-and-form-wrapper_md {
		top: 43%;
	}

	.subscribe__quote-and-form-wrapper_lg {
		@apply
			max-w-[1140px]
			top-[50%]
			p-0
			gap-0
			justify-center
			items-center
			flex-row;
	}

	.subscribe__quote-text_md {
		font-size: 20px;
	}

	.subscribe__form-title_main--md {
		font-size: 20px;
	}

	.subscribe__form-title_sub--md {
		font-size: 18px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.subscribe__form-input-btn {
		&:hover {
			@apply
				opacity-80;
		}

		&:active {
			@apply
				opacity-100;
		}
	}
}