@tailwind utilities;

.nav-wrapper {
	@apply
		w-full
		fixed
		top-0
		h-[75px]
		z-10
		bg-black;
}

.nav {
	@apply
		nav-container
		h-full
		bg-inherit
		flex
		items-center;

	&__logo {
		@apply
			mr-[32px]
			h-[36px]
			select-none;
	}
	&__control {
		@apply
			block
			box-border
			p-[8px]
			rounded-[4px]
			border-[1px]
			border-solid
			border-transparent
			select-none
			cursor-pointer;

		transition: all 0.2s ease-in-out;
		-webkit-tap-highlight-color: transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: rgba(170, 170, 170, 0.1);
			}
		}
	}

	a {
		-webkit-tap-highlight-color: transparent;
	}

	&__menu {
		@apply
			flex
			gap-[25px]
			ml-auto
			items-center;
	}
	&__cart-count {
		@apply
			absolute
			top-[2px]
			right-[2px]
			pl-[4px]
			pr-[4px]
			text-white
			text-[13px]
			text-center
			min-w-[19px]
			h-[19px]
			min-h-[19px]
			bg-[#F16D7F]
			rounded-full
			leading-[18px]
			block;
	}
}

@layer utilities {
	.nav__menu {
		&_not-mobile {
			display: block !important;
		}
	}
}